################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
*.vspscc
*.user
*.generated.cs
*.orig
bin/
obj/
/RedArbor.Coral/Frontend/Area_Empresa/config/connectionStrings.01.pro.config
/RedArbor.Coral/Frontend/Area_Empresa/config/connectionStrings.02.pro.config
/RedArbor.Coral/Frontend/Area_Empresa/config/connectionStrings.co.pro.config
/RedArbor.Coral/Frontend/Area_Empresa/config/connectionStrings.mx.pro.config
*.suo
/packages
/RedArbor.Coral/Frontend/Area_Empresa/_resources
/RedArbor.Coral/Frontend/Area_Empresa/Bin
*.log
**/_logs/

#/RedArbor.Coral/Frontend/Area_Candidato/_resources
/RedArbor.Coral/Frontend/Area_Candidato/Bin
/RedArbor.Coral/Frontend/Area_Candidato/Web.config
/RedArbor.Coral/Frontend/Area_Candidato/website.publishproj
/RedArbor.Coral/Frontend/Area_Candidato/App_Data
#/RedArbor.Coral/Frontend/Portal/_resources
/RedArbor.Coral/Frontend/Portal/Bin
/RedArbor.Coral/Frontend/Portal/Web.config
/RedArbor.Coral/Frontend/Portal/website.publishproj


##### Mierda de la API #####
RedArbor.Coral.Api/Api/_resources/
.idea/
CANDIDATO_Project.iml

/Collector/packages
/RedArbor.Coral/WebCommon
/RedArbor.Coral/PushV2
/RedArbor.Coral/Push
/RedArbor.Coral/PublicatorCRM
/RedArbor.Coral/Publicator
/RedArbor.Coral/ProductService
/RedArbor.Coral/ProductRepository
/RedArbor.Coral/PaymentService
/RedArbor.Coral/PaymentRepository
/RedArbor.Coral/packages
/RedArbor.Coral/WebCommon
/RedArbor.Coral/PushV2
/RedArbor.Coral/Push
/RedArbor.Coral/PublicatorCRM
/RedArbor.Coral/Publicator
/RedArbor.Coral/ProductService
/RedArbor.Coral/ProductRepository
/RedArbor.Coral/PaymentService
/RedArbor.Coral/PaymentRepository
/RedArbor.Coral/packages
/TestResults
/RedArbor.Coral.Api/.nuget
/RedArbor.Coral/Frontend/Area_Candidato/_resources
/RedArbor.Coral/Frontend/Area_Candidato/_appsettings
/RedArbor.Coral/Frontend/Portal/_resources
/RedArbor.Coral/Frontend/Portal/_appsettings
/RedArbor.Coral/Frontend/Portal/Scripts
/RedArbor.Coral/Frontend/Area_Candidato/Scripts
/PrecompiledWeb
/PrecompiledWeb
/.vs
/Procesos/.vs/ExportToFeeds/v15/Server/sqlite3/storage.ide-wal
/Procesos/.vs/ExportToFeeds/v15/Server/sqlite3/storage.ide-shm
/Procesos/.vs/ExportToFeeds/v15/Server/sqlite3/storage.ide
/Procesos/.vs/ExportToFeeds/v15/Server/sqlite3/db.lock
/Procesos/packages
.vs
/WhiteLabel/packages
/WhiteLabel/Frontend/Portal/_resources
/WhiteLabel/Frontend/Portal/Properties
/RedArbor.Coral/Frontend/Portal/Scripts/common.js
/RedArbor.Coral/Frontend/Area_Candidato/Scripts/common.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/jquery-1.10.2.min.map
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/jquery-1.10.2.min.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/jquery-1.10.2.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/jquery-1.10.2.intellisense.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/bootstrap.min.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts/bootstrap.js
/RedArbor.Coral/Frontend/MVC_Commons/Scripts
/RedArbor.Coral/Frontend/MVC_Commons/fonts/glyphicons-halflings-regular.woff
/RedArbor.Coral/Frontend/MVC_Commons/fonts/glyphicons-halflings-regular.ttf
/RedArbor.Coral/Frontend/MVC_Commons/fonts/glyphicons-halflings-regular.svg
/RedArbor.Coral/Frontend/MVC_Commons/fonts/glyphicons-halflings-regular.eot
/RedArbor.Coral/Frontend/MVC_Commons/fonts
/RedArbor.Coral/Frontend/MVC_Commons/Content/Site.css
/RedArbor.Coral/Frontend/MVC_Commons/Content/bootstrap.min.css
/RedArbor.Coral/Frontend/MVC_Commons/Content/bootstrap.css
vwd.webinfo
/RedArbor.Coral/Frontend/Area_Candidato/config/rules/rules.config
/RedArbor.Coral/Frontend/Portal/config/rules/rules.config
/RedArbor.Coral/Frontend/WebPublica/config/rules/rules.config
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/webpush.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/templates.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/smart-banner.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/shortcuts.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/notifications.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/menu_actions.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/lodash.debounce.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/links.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/lazyLoad.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/kpi.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.validate.unobtrusive.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.validate.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.unobtrusive-ajax.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.nice-select.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.nice-select.custom.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.lazyload.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery.lazyload.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-ui.min-1.12.1.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-ui.min-1.11.1.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-ui-1.11.1.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-3.6.0.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-3.4.1.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-1.8.3.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-1.8.3.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/jquery-1.8.3.intellisense.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/html2canvas.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/googletag.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/favorites.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/cookies.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/complaint-offer.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/collector.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/Chart.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/candidate-events.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/access.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Autocomplete/autocomplete-service.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/BoxFollow/viewmodelnew.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/BoxFollow/viewmodelnew.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/BoxFollow/viewmodel.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/BoxFollow/service.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Cookies/cookie-tracking-campaigns.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Cookies/cookie-service.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Cookies/cookie-consent.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Device/device-service.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/Error/error.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/salaryCustomCharts.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/navigationbar.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/menu.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/header-menu.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/form_field_select.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/follow.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/customCharts.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/box_show.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/box_hide_timer.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/box_fix.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/bClick.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Custom/autocomplete.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Cv/cv-forms.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/modernizr-2.6.2.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.validate.unobtrusive.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.validate.unobtrusive.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.validate.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.validate.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.validate-vsdoc.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.lazyload.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery.lazyload.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-ui.min-1.11.1.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-ui-1.11.1.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-1.10.2.min.map
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-1.10.2.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-1.10.2.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/jquery-1.10.2.intellisense.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/common.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/bootstrap.min.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/bootstrap.js
/RedArbor.Coral/Frontend/WebCandidato/config/rules/rules.config
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/webpush.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/templates.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/smart-banner.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/shortcuts.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/notifications.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/menu_actions.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/lodash.debounce.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/links.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/lazyLoad.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/kpi.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.validate.unobtrusive.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.validate.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.unobtrusive-ajax.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.nice-select.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.nice-select.custom.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.lazyload.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery.lazyload.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-ui.min-1.12.1.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-ui.min-1.11.1.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-ui-1.11.1.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-3.6.0.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-3.4.1.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-1.8.3.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-1.8.3.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/jquery-1.8.3.intellisense.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/html2canvas.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/header-ga-events.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/googletag.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/favorites.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/cookies.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/complaint-offer.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/collector.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/Chart.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/candidate-events.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/access.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Autocomplete/autocomplete-service.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/BoxFollow/viewmodelnew.mobile.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/BoxFollow/viewmodelnew.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/BoxFollow/viewmodel.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/BoxFollow/service.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Cookies/cookie-tracking-campaigns.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Cookies/cookie-service.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Cookies/cookie-consent.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Device/device-service.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/Error/error.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/salaryCustomCharts.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/navigationbar.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/menu.mobile.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/header-menu.mobile.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/follow.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/customCharts.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/box_show.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/box_hide_timer.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/box_fix.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/bClick.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Custom/autocomplete.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Cv/cv-forms.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/SearchBox/searchbox.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/modernizr-2.6.2.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.validate.unobtrusive.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.validate.unobtrusive.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.validate.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.validate.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.validate-vsdoc.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.unobtrusive-ajax.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.unobtrusive-ajax.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.lazyload.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery.lazyload.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-ui.min-1.11.1.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-ui-1.11.1.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.8.0.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.8.0.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.8.0.intellisense.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.10.2.min.map
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.10.2.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.10.2.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/jquery-1.10.2.intellisense.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/common.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/bootstrap.min.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/bootstrap.js
/RedArbor.Coral/Frontend/WebCandidato/_appsettings
/RedArbor.Coral/Frontend/WebCandidato/_resources
/RedArbor.Coral/Frontend/WebPublica/_appsettings
/RedArbor.Coral/Frontend/WebPublica/_resources
/RedArbor.Coral/Frontend/WebPublica/Scripts/CandidateNotifications/data.json
/RedArbor.Coral/Frontend/WebCandidato/Scripts/CandidateNotifications/data.json
/RedArbor.Coral/Frontend/WebPublica/Scripts/SearchBox/searchbox.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/CandidateNotifications
/RedArbor.Coral/Frontend/WebPublica/Scripts/CandidateNotifications
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/carousel.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/carousel.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/smartappbanner.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/smartappbanner.js
/RedArbor.Coral/Frontend/WebPublica/c/bundles
/RedArbor.Coral/Frontend/WebCandidato/c/bundles
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/favorites.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/favorites.mobile.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/complaint-offer.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/complaint-offer.mobile.js
/RedArbor.Coral/Frontend/WebCandidato/Scripts/Commons/shortcuts.mobile.js
/RedArbor.Coral/Frontend/WebPublica/Scripts/Commons/shortcuts.mobile.js
